<!DOCTYPE html>
<html lang="en">
<head>

	<title>Wikoogle</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="Search.css" type="text/css" media="screen" />
	<link rel="icon" type="image/png" href="favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</head>


<body>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-3 text-center" style="padding-top:15%">
				<img class="img" src="Wikoogle.gif" alt="Photo de moteur de recherche" />
				<form action="Result.html">
					<div class="form-group searchbar">
						<input id="answer" type="text" name="search" class="form-control input-lg" placeholder="An Analysis will be made">
					</div>
					<div class="form-group">
						<button class="btn btn-lg buttonsearch" type="submit">Gaet' your search</button>
						<button class="btn btn-lg buttonsearch" type="button" id="chance">I have Brice !</button>
					</div>
				</form>
			</div>
		</div>
	</div>



</body>

<script type="text/javascript">
	$("#chance").click(function(){
		var recherche = $("#answer").val();

		if (recherche != undefined && recherche != null && recherche != "")
		{
			$.get({
				url: "http://localhost:9200/data/article/_search",
				dataType : 'json',
				contentType: 'application/json',

				data : { 
					"q": recherche,
					"pretty": true,
					"size": 500
				}
			})
			.fail(function(data) { 
				console.log("Error"); 
				console.log(data); 
			})
			.done(function(data) {
				console.log("Success");
				console.log(data);

				var tableau = [];
				data.hits.hits.forEach(function(element) {
					console.log(element);
					var elem = {
						"title": element._source.title, 
						"score": element._source.score*element._score
					};
					tableau.push(elem);

				});

				tableau.sort(function(a, b) {
					if (a.score < b.score)
						return 1;
					if (a.score > b.score)
						return -1;
					return 0;
				});

				var result = tableau[0];
				var url = result.title.replace(/ /g, "_");
				document.location = "https://fr.wikipedia.org/wiki/"+url
			});	
		}

	})
</script>

</html>
